.terms {
  div {
    font-size: 16px;
    line-height: 1.75;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 48px 0 16px;
    }
    ol {
      margin: 8px 0px;
      list-style: decimal;
      li {
        position: relative;
        padding-left: 0;
        margin-left: 32px;
      }
    }
    ul {
      margin: 8px 0px;
      list-style: disc;
      li {
        position: relative;
        padding-left: 0;
        margin-left: 32px;
      }
    }
  }
}
